.major-container {
    display: flex;
    height: 100%;
    width: 100%;
    margin-left: 15%;
}

.first-container {
    height: 100%;
    width: 50%;
}

.second-container {
    height: 100%;
    width: 50%;
}

.hero {
object-fit: cover;
max-width: 100%;
max-width: 50%;
}

.first-text {
    font-weight: bold;
    font-size: 52px;
}

.second-text {
    color:hsl(0, 0%, 41%)
}

.third-text {
    color: hsl(0, 0%, 41%);
}